*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.app{
    width: 100%;
    height: 100vh;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: sans-serif;
}
.chat{
    width: 340px;
    height: 100%;
    background-color: #18181b;
    display: flex;
    flex-direction: column;
}
.chat__history{
    height: calc(100% - 99px);
    overflow: auto;
    /* overflow-anchor: auto; */
}
.history--wraper{
    display: flex;
    font-size: 13px;
    padding: 5px 10px;
}
.chat__input{
    height: 99px;
    background-color: darkblue;
}
.red{
    color: #ff0000;
}
.blue{
    color:  #0000ff;
}
.green{
    color: #00ff00;
}
.orange{
    color: #ffa500;
}
.purple{
    color: #800080;
}
.yellow{
    color: #ffff00;
}
.pink{
    color: #ffc0cb;
}
.Teal{
    color: #008080;
}