*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 70%;
}
:root{
    --background: #0e0e10;
    --secend-background: #18181b;
    --third-background: #1f1f23;
    --detail: hwb(271 17% 11%);
    --text: #fff;
    --index-top: 10;
    --index-mid: 5;
}
/* fonts */
/* LOGO - font-family: 'Caprasimo', cursive; [400]*/
/* COMMON TEXT - font-family: 'Roboto', sans-serif; [400,700,900] */

/* google icons  */
@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    font-weight: 100 700;
    src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v122/kJEhBvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oFsI.woff2) format('woff2');
  }
  
  .material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
  }
/* main */
.main__wraper{
    width: 100%;
    min-height: 100vh;
    background-color: var(--background);
    position: relative;
    padding-top: 50px;
    padding-left: 240px;
}
.main__wraper--big{
    padding-left: 50px;
}
/* horizontal nav */
.hnav{
    width: 100%;
    height: 50px;
    background-color: var(--secend-background);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.9), 0 0px 2px rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--index-top);
    display: flex;
}
.hnav__left{
    width: calc(100% / 3);
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.hnav__left__logo{
    color: var(--detail);
    font-family: 'Caprasimo', cursive;
    font-size: 30px;
    margin-left: 1rem;
    transition: 1s;
    cursor: pointer;
    text-decoration: none;
}
.hnav__left__logo:hover{
    transform: translate(6px, -6px);
    text-shadow: -3px 3px 0 #fff;
}
.hnav__left__browse{
    color: var(--text);
    font-size: 1.8rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    padding: 0;
    margin-left: 3rem;
    transition: 0.2s;
    cursor: pointer;
    user-select: none;
}
.hnav__left__browse:hover {
    color: var(--detail);
}
.hnav__left__more{
    color: var(--text);
    font-size: 1.8rem;
    margin-left: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    border-radius: 4px;
    transition: 0.2s;
    cursor: pointer;
}
.hnav__left__more:hover{
    background-color: #53535f7a;
}
.hnav__left__more .material-symbols-outlined {
    font-variation-settings: 'wght' 300;
    user-select: none;
    pointer-events: none;
}
.hnav__middle{
    width: calc(100% / 3);
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hnav__middle__input{
    width: 390px;
    height: 36px;
    padding: 0.5rem 1rem;
    border-radius: 0.6rem ;
    background-color: transparent;
    border: none;
    border: 1px solid var(--detail);
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
    transition: 0.2s;
    outline-color: transparent;
    outline-width: 0;
    box-shadow: none;
    color: var(--text);
    z-index: 15;
}
.hnav__middle__input:focus{
    width: 396px;
    height: 40px;
    border: 3px solid var(--detail);
}  
.hnav__middle__input:focus + .hnav__middle__button{
    width: 36px;
    height: 40px;
    border-width: 3px;
}
.hnav__middle__input--open:focus + .hnav__middle__button{
    border-radius: 0 0.6rem 0 0;
}
.hnav__middle__wraper{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 42px;
    width: 390px;
    height: 1px;
    background: transparent;
    transition: 0.2s;
    border-radius: 0 0 0.6rem 0.6rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    z-index: 15;
    padding-top: 3px;
}
.hnav__middle__input--open ~ .hnav__middle__wraper{
    height: auto;
    background: var(--detail);
}
.hnav__middle__wraper--open {
    height: auto;
}
.hnav__middle__message{
    width: 100%;
    height: 126px;
    color: var(--text);
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}
.hnav__middle__user{
    width: 100%;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: 0.2s;
}
.hnav__middle__user:hover{
    background-color: rgb(95, 31, 154);
}
.hnav__middle__avatar{
    width: 34px;
    height: 34px;
    border-radius: 50%;
    object-position: center;
    background-color: black;
    margin: 4px;
    border: 2px solid;
    user-select: none;
}
.hnav__middle__nick{
    width: calc(100% - 42px);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 16px;
    color: var(--text);
    font-family: 'Roboto', sans-serif;
    user-select: none;
}
.hnav__middle__close{
    position: fixed;
    width: 100%;
    height: 200vh;
    background-color: black;
    z-index: 13;
    opacity: 0;
    z-index: 13;
}
.hnav__right{
    width: calc(100% / 3);
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.hnav__right__wraper{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #0000ff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
}
.hnav__right__avatar{
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 50%;
}
/* vertical nav */
.vnav{
    height: calc(100vh - 50px);
    width: 240px;
    background-color: var(--third-background);
    position: fixed;
    top: 50px;
    left: 0;
    z-index: var(--index-mid);
    font-family: 'Roboto', sans-serif;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}
.vnav:hover{
    scrollbar-color: #2f2f35 transparent;
}
.vnav:hover::-webkit-scrollbar{
    width: 7px;
    background-color: transparent;
}
.vnav:hover::-webkit-scrollbar-thumb{
    background-color: #2f2f35;
}
.vnav::-webkit-scrollbar{
    width: 7px;
    background-color: transparent;
}
.vnav::-webkit-scrollbar-thumb{
    background-color: transparent;
}
.vnav--small{
    width: 50px;
}
.vnav__wraper--top{
    width: 100%;
    margin-top: 5px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.vnav__title--top{
    color: var(--text);
    width: calc(100% - 50px);
    font-size: 1.8rem;
    font-weight: 700;
    display: flex;
    align-items: flex-end;
}
.vnav__switch{
    width: 30px;
    height: 30px;
    color: var(--text);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
    user-select: none;
    cursor: pointer;
    border-radius: 4px;
}
.vnav__switch:hover{
    background-color: #53535f7a;
}
.vnav--small .vnav__switch{
    transform: rotateY(0deg);
}
.vnav__wraper--followed{
    width: calc(100% - 10px);
    height: 418px;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
.vnav__title--followed{
    font-size: 14px;
    color: var(--text);
    width: calc(100% - 20px);
    height: 40px;
    font-weight: 700;
    display: flex;
    align-items: center;
}
.vnav--small .vnav__title--followed{
    width: 30px;
    justify-content: center;
    align-items: flex-end;
}
.vnav__wraper--recomended{
    width: calc(100% - 10px);
    height: 300px;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
.vnav__title--recomended{
    font-size: 14px;
    color: var(--text);
    width: calc(100% - 20px);
    height: 40px;
    font-weight: 700;
    display: flex;
    align-items: center;
}
.vnav--small .vnav__title--recomended {
    width: 30px;
    justify-content: center;
    align-items: flex-end;
}
.vnav__wraper--channel{
    width: 100%;
    height: 42px;
    display: flex;
    align-items: center;    
    text-decoration: none;
}
.vnav__img--channel{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.vnav__wraper--text{
    width: 135px;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    padding-right: px;
    color: var(--text);
    overflow: hidden;
}
.vnav__text--nick{
    font-size: 15px;
    font-weight: 700;
    width: 100%;
    height: 50%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.vnav__text--category{
    height: 50%;
    width: 100%;
    font-size: 13px;
    color: lightgrey;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.vnav__wraper--count{
    height: 50%;
    width: 65px;
    display: flex;
    flex-direction: row;
    align-self: start;
    align-items: center;
    justify-content: flex-end;
}
.vnav__dot{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: red;
}
.vnav__text--count{
    font-size: 13px;
    height: 100%;
    color: var(--text);
    margin: 0 5px 0 5px;
    display: flex;
    align-items: center;
}
/* home */
.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 200px;
}
.home__header{
    width: 100%;
    padding: 0 40px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* home slider */
.slider{
    width: 100%;
    max-width: 2000px;
    height: 320px;
    display: flex;
}
.slider__arrow--left, .slider__arrow--right{
    width: 40px;
    height: 100%;
    color: var(--text);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
}
.slider__arrow--left:hover, .slider__arrow--right:hover{
    background-color: #53535f7a;
}
.slider__main{
    width: calc(100% - 80px);
    height: 100%;
    position: relative;
}
.slider__tile{
    transition: 0.2s;
    position: absolute;
}
.slider__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
}
.slider__tile--center .slider__img{
    height: 90%;
}
.slider__wraper{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0;
    width: 100%;
    overflow: hidden;
    z-index: 2;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    user-select: none;
    pointer-events: none;
    background: transparent;
    color: transparent;
    font-size: 0;
    user-select: none;
    background-color: var(--secend-background);
}
.slider__tile--center .slider__wraper{
    height: 10%;
    padding: 2px 4px 2px 4px;
}
.slider__tile--center .slider__username{
    width: 50%;
    height: 20px;
    font-size: 20px;
    color: transparent;
    color: var(--text);
    transition: 0.2s;
    font-family: 'Roboto', sans-serif;
}
.slider__tile--center .slider__count{
    width: 50%;
    height: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.slider__tile--center .slider__dot{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: red;
    margin-right: 2px;
}
.slider__tile--center .slider__viewers{
    height: 20px;
    font-size: 16px;
    color: transparent;
    color: var(--text);
    transition: 0.2s;
    font-family: 'Roboto', sans-serif;
}
.slider__tile--back{
    width: 5%;
    min-width: 300;
    height: auto;
    aspect-ratio: 16 / 9;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
.slider__tile--left--2{
    width: 20%;
    min-width: 400px;
    height: auto;
    aspect-ratio: 16 / 9;
    top: 50%;
    left: 12.5%;
    transform: translate(0%, -50%);
    z-index: 2;
}
.slider__tile--left--1{
    width: 25%;
    min-width: 450px;
    height: auto;
    aspect-ratio: 16 / 9;
    top: 50%;
    left: 22.5%;
    transform: translate(0%, -50%); 
    z-index: 3;
}
.slider__tile--center{
    width: 30%;
    min-width: 500px;
    max-height: 324px;
    height: auto;
    aspect-ratio: 16 / 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
} 
.slider__tile--right--1{
    width: 25%;
    min-width: 450px;
    height: auto;
    aspect-ratio: 16 / 9;
    top: 50%;
    right: 22.5%;    
    transform: translate(0%, -50%); 
    z-index: 3;
}
.slider__tile--right--2{
    width: 20%;
    min-width: 400px;
    height: auto;
    aspect-ratio: 16 / 9;
    top: 50%;
    right: 12.5%;
    transform: translate(0%, -50%);
    z-index: 2;
}
/* home content */
.home__content{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    padding: 40px 40px 0;
    font-family: 'Roboto', sans-serif;
}
.content__wraper{
    width: 100%;
    max-width: 2000px;
    display: grid;
    grid-template-rows: repeat(1, 270px);
    grid-template-columns: repeat(auto-fit, minmax( 320px, 330px));
    grid-auto-rows: 300px;
    justify-content: center;
    align-items: center;
}
.content__tile{
    min-width: 320px;
    margin: 5px;
    height: auto;
    display: flex;
    flex-direction: column;
    text-decoration: none;
}
.ctile__cover{
    width: 100%;
    aspect-ratio: 16 / 9;
    background-color: #53535f7a;
}
.ctile__wraper--big{
    width: 100%;
    display: flex;
    margin-top: 10px;
}
.ctile__avatar{
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;
    background-color: #53535f7a;
    object-position: center;
    object-fit: cover;
}
.ctile__wraper--small{
    width: calc(100% - 50px);
    color: var(--text);   
}
.ctile__title{
    font-size: 14px;
    font-weight: 700;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 1.5px 0;
}
.ctile__nick{
    font-size: 13px;
    color: #008080;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 1.5px 0;
}
.ctile__game{
    font-size: 13px;
    color: #008080;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 1.5px 0;
}
/* user page */
.user{
    width: 100%;
    min-height: calc(100vh - 50px);
    position: relative;
    display: flex;
}
.user__wraper--main{
    width: calc(100% - 340px);
    display: flex;
    flex-direction: column;
}
.user__wraper--strem{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.user__stream{
    width: 100%;
    aspect-ratio: 16 /  9;
    max-height: calc(100vh - 50px - 110px);
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.user__error{
    font-size: 20px;
    font-weight: 700;
    padding: 7px 16px;
    background-color: red;
    color: var(--text);
    font-family: 'Roboto', sans-serif;
    border-radius: 0.4rem;
    user-select: none;
    pointer-events: none;
}
.user__info--small{
    width: 100%;
    height: 110px;
    padding: 10px 20px;
    display: flex;
    border-top: 1px solid #53535f7a;
}
.sinfo__wraper--avatar{
    width: 80px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sinfo__avatar{
    width: 72px;
    height: 72px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    padding: 2px;
    border: 2px solid var(--detail);
}
.sinfo__wraper--big{
    width: calc(100% - 250px - 80px);
    font-family: 'Roboto', sans-serif;
    color: var(--text);
    padding-top: 2px;
    padding-left: 10px;
}
.sinfo__text--nick{
    font-size: 19px;
    padding-bottom: 12px;
    font-weight: 700;
}
.sinfo__text--title{
    font-size: 14px;
    padding-bottom: 5px;
    font-weight: 700;
}
.sinfo__text--category{
    font-size: 14px;
    color: var(--detail);
}
.sinfo__wraper--medium{
    width: 250px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}
.sinfo__following{
    width: 140px;
    height: 34px;
    background-color: var(--detail);
    border-radius: 4px;
    color: var(--text);
    border: none;
    box-shadow: none;
    font-size: 15px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;
    user-select: none;
}
.sinfo__following:hover{
    background-color: rgb(95, 31, 154);
}
.sinfo__heart{
    margin-right: 5px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sinfo__heart--fill{
    font-variation-settings: 'FILL' 1;
    margin-right: 0;
    color: var(--text);
}
.sinfo__following--followed{
    background-color: var(--third-background);
    width: 34px;
    color: transparent;
    font-size: 0;
}
.sinfo__following--followed:hover{
    background-color: #53535f7a;
    width: 140px;
    color: white;
    font-size: 15px;
}
.sinfo__following--followed:hover .sinfo__heart--fill{
    margin-right: 5px;
}
.sinfo__wraper--count{
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}
.sinfo__count--dot{
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: red;
    margin-right: 5px;
}
.sinfo__count--number{
    color: var(--text);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}
.user__wraper--chat{
    width: 340px;
    height: calc(100vh - 50px);
    position: fixed;
    right: 0;
    top: 50px;
    border-left: 1px solid #53535f7a;
}
.user__info--medium{
    align-self: center;
    width: calc(100% - 40px);
    max-width: 1200px;
    height: 180px;
    padding: 40px;
    background-color: var(--third-background);
    display: flex;
    justify-content: space-between;
}
.minfo__wraper--big{
    width: 970px;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    color: var(--text);
}
.minfo__name{
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 10px;
}
.minfo__followers{
    font-size: 14px;
    padding-bottom: 10px;
}
.minfo__followers--gray{
    background-color: transparent;
    color:  gray;
}
.minfo__description{
    font-size: 14px;
}
.user__info--banners{
    width: 100%;
    min-height: 300px;
}
/* chat */
.chat{
    width: 340px;
    height: 100%;
    background-color: var(--secend-background);
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    color: var(--text);
}
/* chat display */
.chat__display{
    height: calc(100% - 60px);
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: #2f2f35 transparent;
}
.chat__display::-webkit-scrollbar{
    width: 7px;
    background-color: transparent;
}
.chat__display::-webkit-scrollbar-thumb{
    background-color: #2f2f35;
}
.display--wraper{
    display: flex;
    font-size: 13px;
    padding: 5px 10px;
    font-style: normal;
}
.display--name{
    font-style: normal;
}
.red{
    color: #ff0000;
}
.blue{
    color:  #0000ff;
}
.green{
    color: #00ff00;
}
.orange{
    color: #ffa500;
}
.purple{
    color: #800080;
}
.yellow{
    color: #ffff00;
}
.pink{
    color: #ffc0cb;
}
.Teal{
    color: #008080;
}
/* chat input */
.chat__activitis{
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.activitis__input--wraper{
    width: 320px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
}
.activitis__input--label{
    font-size: 0;
    width: 0;
    height: 0;
    color: transparent;
    background-color: transparent;
}
.activitis__input--text{
    width: 80%;
    height: 100%;
    border: 1px solid #8a2ce2;
    border-right: none;
    border-radius: 5px 0px 0px 5px;
    background-color: transparent;
    color: white;
    transition: 0.2s;
    padding-left: 10px;
    outline: 0px transparent;
}
.activitis__input--button{
    width: 19%;
    height: 100%;
    border-radius: 0px 5px 5px 0px;
    background-color: blueviolet;
    color: white;
    border: none;
    box-shadow: none;
    transition: 0.2s;
    outline: 0px transparent;
    cursor: pointer;
}
.activitis__input--button:hover{
    background-color: rgb(95, 31, 154);
}
.activitis__input--button:hover ~ .activitis__input--text{
    border-color: rgb(95, 31, 154);
}
.error{
    width: 100%;
    height: 100vh;
    background-color: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.error__text {
    font-family: 'Roboto', sans-serif;
    color: var(--text);
}
.error__text--big{
    font-size: 30px;
    font-weight: 700;
}
.error__text--small{
    font-size: 16px;
    margin: 10px 0 20px;
}
.error__button{
    padding: 6px 14px;
    background-color: var(--detail);
    color: var(--text);
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    user-select: none;
    text-decoration: none;
    border-radius: 4px;
}
.error__button:hover{
    background-color: rgb(95, 31, 154);
}

/* mobile styles */
@media screen and (max-width: 1450px) {
    .home__content, .home__header{
        padding: 10px;
    }
}
@media screen and (max-width: 1300px) {
    .hnav__left{
        width: 250px;
    }
    .hnav__middle{
        width: calc(100% - 300px);
    }
    .hnav__right{
        width: 50px;
    }
    .main__wraper{
        overflow: hidden;
    }
    .slider__tile{
        opacity: 0;
        width: 0px;
    }
    .slider__tile--back, .slider__tile--left--2, .slider__tile--left--1, .slider__tile--right--1, .slider__tile--right--2{
        user-select: none;
        pointer-events: none;   
    }
    .slider__tile--center{
        opacity: 1;
    }
    .vnav__wraper--top{
        user-select: none;
        pointer-events: none;
        width: 0;
        height: 0;
        opacity: 0;
        overflow: hidden;
        margin: 0;
    }
}
@media screen and (max-width: 900px) {
    .sinfo__wraper--big{
        width: calc(100% - 80px - 140px);
    }
    .sinfo__wraper--medium{
        width: 140px;
    }
    .user__info--medium{
        padding: 20px;
    }
    .user__wraper--main{
        width: calc(100% - 280px);
    }
    .user__wraper--chat{
        width: 280px;
    }
    .chat{
        width: 100%;
    }
    .activitis__input--wraper{
        width: 100%;
        padding: 2px;
    }
}
@media screen and (max-width: 900px) {
    .sinfo__wraper--big{
        width: calc(100% - 50px - 140px);
    }
    .user__error{
        font-size: 14px;
    }
    .user__info--small{
        padding: 5px;
    }
    .sinfo__wraper--avatar{
        width: 50px;
        height: 50px;
    }
    .sinfo__avatar{
        width: 100%;
        height: 100%;
    }
    .sinfo__text--nick{
        font-size: 15px;
        padding-bottom: 5px;
    }
    .sinfo__text--title{
        font-size: 12px;
        padding-bottom: 2px;
    }
    .sinfo__text--category{
        font-size: 12px;
    }
}
@media screen and (max-width: 729px) {
    .hnav__left{
        width: 100px;
    }
    .hnav__middle{
        width: calc(100% - 150px);
    }
    .hnav__left__browse{
        width: 0;
        height: 0;
        color: transparent;
        background-color: transparent;
        font-size: 0;
        user-select: none;
        overflow: hidden;
        margin: 0;
    }
    .hnav__left__more{
        margin-left: 5px;
    }
    .content__wraper{
        grid-template-rows: repeat(1, 400px);
        grid-template-columns: repeat(auto-fit, minmax( 80%, 90%));
        grid-auto-rows: 400px;
    }
    .content__tile{
        width: 100%;
    }
    .user__wraper--main{
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;
    }
    .user__wraper--chat{
        position: absolute;
        top: calc(((100vw - 50px) / 16) * 9);
        left: 0;
        right: unset;
        width: 100%;
        z-index: 4;
        border-top: 1px solid #53535f7a;
        border-left: none;
    }
    .chat{
        flex-direction: column-reverse;
    }
    .chat__display ul{
        display: flex;
        flex-direction: column-reverse;
    }
}
@media screen and (max-width: 650px) {
    .content__wraper{
        grid-template-rows: repeat(1, 370px);
        grid-auto-rows: 370px;
    }
    .slider__tile--center{
        width: 100%;
        min-width: unset;  
    }
    .slider{
        height: 100%;
    }
    .slider__arrow--left, .slider__arrow--right{
        z-index: 4;
    }
    .slider__tile--center .slider__username{
        font-size: 16px;
    }
}
@media screen and (max-width: 555px) {
    .hnav__middle__input{
        width: 200px;
    }
    .hnav__middle__input:focus{
        width: 206px;
    }
    .hnav__middle__wraper{
        width: 200px;
        overflow: hidden;
    }
    .home__header{
        height: 300px;
    }
    .content__wraper{
        grid-template-rows: repeat(1, 330px);
        grid-auto-rows: 330px;
    }

}
@media screen and (max-width: 505px) {
    .home__header{
        height: 250px;
    }
    .content__wraper{
        grid-template-rows: repeat(1, 300px);
        grid-auto-rows: 300px;
    }
}
@media screen and (max-width: 455px) {
    .home__header{
        height: 200px;
    }
    .content__wraper{
        grid-template-rows: repeat(1, 270px);
        grid-auto-rows: 270px;
    }
    .content__tile{
        min-width: unset;
    }
}
@media screen and (max-width: 390px) {
    .home__header{
        height: 170px;
    }
    .content__wraper{
        grid-template-rows: repeat(1, 240px);
        grid-auto-rows: 240px;
    }
}