*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.app{
    width: 100%;
    height: 100vh;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: sans-serif;
}
.chat{
    width: 500px;
    height: 100%;
    background-color: #18181b;
    display: flex;
    flex-direction: column;
}
.chat__history{
    height: calc(100% - 99px)
}
.chat__input{
    height: 99px;
    background-color: darkblue;
}